<div class="profile-container">
    <h2>Azuriraj profil</h2>
    <!-- <form (ngSubmit)="saveProfile()">
      <div class="form-group">
        <label for="name">Ime:</label>
        <input type="text" id="name" [(ngModel)]="user?.name" name="name" required />
      </div>
  
      <div class="form-group">
        <label for="surname">Prezime:</label>
        <input type="text" id="surname" [(ngModel)]="user.surname" name="surname" required />
      </div>
  
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" [(ngModel)]="user.email" name="email" required />
      </div>
  
      <div class="form-group">
        <label for="phone">Telefon:</label>
        <input type="tel" id="phone" [(ngModel)]="user.phone" name="phone" required />
      </div>
  
      <div class="form-group">
        <label for="address">Adresa:</label>
        <input type="text" id="address" [(ngModel)]="user.address" name="address" required />
      </div>
  
      <div class="form-group">
        <label>Omiljeni žanrovi:</label>
        <div *ngFor="let genre of allGenres">
          <input type="checkbox" [value]="genre" [(ngModel)]="user.favoriteGenres" [name]="'genre_' + genre" /> {{ genre }}
        </div>
      </div>
  
      <button type="submit">Spremi</button>
    </form> -->
  </div>
  