<header>
    <app-header></app-header>
</header>
  
<div class="search-container">
    <h2>Pretraga Filmova</h2>
    <form (ngSubmit)="searchMovies()">
      <label for="title">Naziv filma</label>
      <input type="text" id="title" [(ngModel)]="criteria.title" name="title" />
  
      <label for="genre">Žanr</label>
      <input type="text" id="genre" [(ngModel)]="criteria.genre" name="genre" />
  
      <label for="director">Režiser</label>
      <input type="text" id="director" [(ngModel)]="criteria.director" name="director" />
  
      <label for="actors">Glumci</label>
      <input type="text" id="actors" [(ngModel)]="criteria.actors" name="actors" placeholder="Odvojeni zarezom" />
  
      <label for="releaseDate">Datum izlaska</label>
      <input type="text" id="releaseDate" [(ngModel)]="criteria.releaseDate" name="releaseDate" />
  
      <button type="submit">Pretraži</button>
    </form>
</div>
  
<div class="movie-list-container">
    <h2>Projekcije</h2>
    <div *ngFor="let movie of filteredMovies">
      <app-movie-item [movie]="movie"></app-movie-item>
    </div>
</div>

 